@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar styles start  */
.brand-name {
  font-weight: 700;
  font-size: 22px;
  color: #3e3e3e;
}
.navbar-items ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #3e3e3e;
}
