@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar styles start  */
.brand-name {
  font-weight: 700;
  font-size: 22px;
  color: #3e3e3e;
}
.navbar-items ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #3e3e3e;
}
.carousel-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.carousel-description {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
.carousel-button {
  background: #ffffff;
  border-radius: 5px;
  color: #3f87f5;
  font-size: 1rem;
  font-weight: 700;
}
