@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

/* Navbar styles start  */
.brand-name {
  font-weight: 700;
  font-size: 22px;
  color: #3e3e3e;
}
.navbar-items ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #3e3e3e;
}
.carousel-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
}
.carousel-description {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
}
.carousel-button {
  background: #ffffff;
  border-radius: 5px;
  color: #3f87f5;
  font-size: 1rem;
  font-weight: 700;
}
.carousel-button a {
  text-decoration: none;
}
/* Main section start  */
.price-title {
  font-weight: 600;
  font-size: 38px;
  text-align: center;
  color: #0a0826;
}
.package-price {
  font-size: 36px;
  font-weight: 700;
  color: #231d4f;
  line-height: 46px;
}
.package-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #231d4f;
}
.package-description {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #848199;
}

.package-details-list {
  list-style-type: none;
}
.package-details-list li {
  display: flex;
  align-items: center;
  line-height: 30px;
}
.package-details-list li i {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  color: #5243c2;
  background-color: #d3d1e4;
  text-align: center;
}
.package-details-list span {
  font-weight: 400;
  font-size: 15px;

  color: #848199;
}
.package-button {
  width: 207px;
  height: 45px;
  background-color: #f7e0ee;
}
.package-button a {
  font-weight: 700;
  font-size: 15px;
  text-decoration: none;
  color: #3f87f5;
}

/* Css for highlight card */
.highlight-badge {
  left: 220px;
  background-color: #ff4e4e;
}
.highlighted-card {
  background: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
}

.highlighted-card-body h2,
.highlighted-card-body h5,
.highlighted-card-body p,
.highlighted-card-body span {
  color: #ffffff;
}

.package-details-list-highlight li i {
  color: #ffffff;
  background: #4475be63;
}
.package-button-highlight {
  background: #ffffff;
  margin-bottom: 34px;
}

/* Frequently ask question section style  */
.question-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 50px;
  color: #0d0925;
  text-align: center;
  margin-top: 24px;
}
.accordion-button-style {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #383838;
}
.accordion-body-style {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #7e848c;
}

/* footer styles */
.footer {
  padding: 50px 0;
  background: #0b0d17;
}
.footer-text {
  color: #d9dbe1;
  font-weight: 400;
  font-size: 14px;
}

.get-app {
  font-weight: 500;
  font-size: 18px;

  color: #d9dbe1;
}

.bnt-apple,
.btn-android {
  border: 1px solid gray;
}
.bnt-apple a,
.btn-android a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 18px;
}
.bnt-apple i,
.btn-android i {
  color: #ffffff;
  margin-right: 5px;
}
.download {
  font-size: x-small;
  color: #fff;
  position: absolute;
  top: 0;
  left: 60px;
}

/* Toast style  */
.toast-area {
  border-left: 4px solid blue;
}
.toast-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #505050;
  letter-spacing: 0.2px;
}
.fa-gift {
  color: #007cff;
}

@media (min-width: 768px) {
  .highlighted-card {
    position: relative;
    top: -50px;
  }
}
